<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">create account</font></p>
  	<%= link_to 'ログイン画面に戻る', tops_st_login_path , :style=>"color:black;", :style=>"font-size:20px;"%>
　　<%= link_to 'トップへ', root_path , :style=>"color:black;", :style=>"font-size:20px;"%>
  <hr color="back" >
</div>
  </head>
<% if @student.errors.present? %>
<h3>エラーがあります</h3>
<ul>
	<% @student.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>

<%= form_for @student do |f| %>

<table>
	<tr>
		<td><%= f.label :st_id, 'ID' %></td>
		<td><%= f.text_field :st_id %></td>
	</tr>
	<tr>
		<td><%= f.label :st_name, 'ニックネーム' %></td>
		<td><%= f.text_field :st_name %></td>
	</tr>
	<tr>
			<td><%= f.label :password, 'パスワード' %></td>
		<td><%= f.password_field :password %></td>
	</tr>
		<tr>
		<td><%= f.label :password_confirmation, 'パスワード（確認）' %></td>
		<td><%= f.password_field :password_confirmation %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.submit '登録' %></td>
	</tr>
</table>


<% end %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            
            <div class="account-wall">
            	<h1 class="text-center login-title">Create new account</h1>
            	<br>
                <form class="form-signin">
                ID
                <input type="text" name="st_id" class="form-control"  required autofocus>
                <br>
                ニックネーム
                <input type="text" name="st_name" class="form-control"  required autofocus>
                <br>
                パスワード
                <input type="password" name="password_confirmation" class="form-control"  required>
                <br>
                もう一度パスワードを入力してください
                <input type="password" name="st_pass" class="form-control" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    アカウントを作成</button>
                </label>
                <br>
                </form>
            </div>
            
        </div>
    </div>
</div>