<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">Delete account</font></p>
　　<%= link_to 'トップメニューへ', tops_main_path , :style=>"color:black;", :style=>"font-size:20px;"%>
  <hr color="back" >
</div>
  </head>
<div> 
<%= form_tag(students_search_path, method: "get") do %>
<%= label_tag :st_id, "ID" %><%= text_field_tag :st_id, params[:st_id] %>
<%= label_tag :st_name, "名前" %><%= text_field_tag :st_name, params[:st_name] %>
<%= submit_tag "検索" %>
<% end %>
</div>
<table border="1" class="ss">
	<tr>
		<th>ID</th>
		<th>ニックネーム</th>
		<th>パスワード</th>
	</tr>

<% @students.each do |e| %>
	<tr>
		<td><%=link_to e.st_id,tops_friend_path%></td>
		<td><%= e.st_name %></td>
		<td><%= e.password %></td>
	</tr>
<% end %>


</table>

<p>
	<%= link_to 'トップへ', root_path %>
</p>

