<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">時間割ログイン</font></p>
  <hr color="block" >
</div>
  </head>
<body>
  
<br>
<br><br><br><br><br><br><br>

<div class="mx-auto" style="width: 200px;">
<div class="place" %>
  <%= link_to '生徒用ログイン', tops_st_login_path,class: 'login_button' %>
  <br><br><br><br>
  <%= link_to '教員用ログイン', tops_ka_login_path ,class: 'login_button' %>
</div>
</div>
</div>

</body>
</div>
