 <% @kanris.each do |f| %>
 <% if current_user2.ka_id == f.ka_id %>
 管理者<%= f.ka_id%>ログイン中[<%= link_to 'ログアウト', tops_ka_logout_path %>]
<div class="header" %>
  <p><font size="7">登録済講義一覧</font></p>
  <p><%= flash[:sakuzyo_kougi] %></p>
  <p><%= flash[:touroku_kougi] %></p>
  <p><%= flash[:syuusei_kougi] %></p>
  <hr color="block" >
</div>

	<table border="1" class="ss">
			<%= link_to 'ユーザ一覧', kanris_path,class: 'link'%>
　<%= link_to '講義登録', new_subject_path ,class: 'link'%>
	<tr>
		<th>科目</th>
		<th>教授名</th>
		<th>単位数</th>
		<th>曜日</th>
		<th>時限</th>
		<th>操作</th>
	</tr>
<% @subject.each do |e| %>

	<tr>
		<td><%= e.kamoku %></td>
		<td><%= e.professor %></td>
		<td><%= e.unit %></td>
		<td><%= e.youbi %></td>
		<td><%= e.zigen %></td>
		<td>
			<%= link_to '編集', edit_subject_path(e), method: :update, data: { confirm: '編集しますか？' } %>
			<%= link_to '削除', subject_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
		</td>
	</tr>
<% end %>
<% end %>
<% end %>
</table>


