<%= form_tag tops_st_login_path do %>
<div class="header" %>
  <p><font size="7">Student Login</font></p>
<font size="5">ようこそ<%= current_user.st_name %>さん</font>
<%= link_to "友達検索",students_path %>
<%= link_to "ユーザ削除",students_itiran_path %>
<%= link_to "時間割作成",new_item_path %>
<%= link_to "時間割の表示", item_path(:show) %>
<%= link_to 'ログアウト', tops_st_logout_path %>　　
</div>
<hr >
<% end %>

