<% flash.each do |type, msg| %>
	<p style="color:red;">
		<%= msg %>
	</p>
<% end %>

<%= form_tag tops_st_login_path do %>
<div class="header" %>
  <p><font size="7">Student Login</font></p>
  <p>　
	<%= link_to 'Top', tops_main_path %>　　
</p>
</div>
<hr >
<% end %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          
            <div class="account-wall">
            	<h1 class="text-center login-title">Sign in to continue to Timetable</h1>
            	<br>
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                <form class="form-signin">
                <input type="text" name="st_id" class="form-control" placeholder="ID" required autofocus>
                <input type="password" name="st_pass" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <br>
                </form>
                <%= link_to 'Create an account', new_student_path,  { :class => "text-center new-account" } %>
            </div>
            
        </div>
    </div>
</div>