<div class="header" %>
  <p><font size="7">管理者一覧</font></p>
  　<%= link_to 'ログイン画面に戻る', tops_ka_login_path %>
  　<%= link_to '管理者登録に戻る', new_kanri_path %>
  <hr color="block" >
</div>
<p><%= flash[:touroku] %></p>
<p><%= flash[:sakuzyo] %></p>

<table border="1"class="ss">

	<tr>
		<th>ID</th>
		<th>パスワード</th>
		<th>操作</th>
	</tr>

<% @kanris.each do |e| %>
	<tr>
		<td><%= e.ka_id %></td>
		<td><%= e.password %></td>
		<td>
			<%if current_user2.id == e.id %>
			<%= link_to '削除', kanri_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
			<% end %>
		</td>
	</tr>
<% end %>

</table>
