<div class="header" %>
  <p><font size="7">講義登録</font></p>
  <hr color="block" >
</div>
　<%= link_to '講義一覧に戻る',tops_main_path ,class: 'link'%>
<%= form_for @subject do |f| %>

<table>
	<tr>
		<td><%= f.label :kamoku, '科目名' %></td>
		<td><%= f.text_field :kamoku %></td>
</tr>
	<tr>
		<td><p></p></td>
	</tr>
		<td><%= f.label :professor, '教授名' %></td>
		<td><%= f.text_field :professor %></td>
</tr>
	<tr>
		<td><p></p></td>
	</tr>
			<td><%= f.label :unit, '単位数' %></td>
		<td><%= f.select :unit, [[1, 1], [2, 2]],class:"form-control" %></td>
</tr>
	<tr>
		<td><p></p></td>
	</tr>
			<td><%= f.label :youbi, '曜日' %></td>
	 <td><%= f.select :youbi, [["月", "月"], ["火", "火"], ["水", "水"], ["木", "木"], ["金", "金"]],class:"form-control" %></td>
</tr>
	<tr>
		<td><p></p></td>
	</tr>
		    <td><%= f.label :zigen, "時限" %></td>
  <td><%= f.select :zigen, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]] ,class:"form-control" %></td>
		<td colspan="2"><%= f.submit '登録' %></td>
	</tr>
</table>
<% end %>
