<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="tops.css" type="text/css">

<div class="header" %>
  <p><font size="7">Delete account</font></p>
　　<%= link_to 'ログアウト', tops_st_logout_path , :style=>"color:black;", :style=>"font-size:20px;"%>
  <hr color="back" >
</div>
  </head>
<table border="1" class="ss">

	<tr>
		<th>subject.id</th>
		<th>student.id</th>
		<th>科目</th>
		<th>教授名</th>
		<th>単位数</th>
		<th>曜日</th>
		<th>時限</th>
	</tr>
	<% sum1 = 0%>
<% @items.each do |e|%>
<% sum = 0%>
<% p = Subject.find(e.subject_id) %> 
<% if current_user.id == e.student_id %>
<tr>
	<td><%= e.subject_id %></td>
	<td><%= e.student_id %></td>
		<td><%= p.kamoku %></td>
		<td><%= p.professor %></td>
		<td><%= p.unit %></td>
		<td><%= p.youbi %></td>
		<td><%= p.zigen %></td>
</tr>
<% total = p.unit %> 
<% sum1 = sum1 + sum + total %> 
<% end %>
<% end %>
</table>
	  合計<%= sum1 %>単位