<P>一度更新を入れて登録してください</P>

<br>
<br>
<br>
<br>
<br>
<table border="1"class="ss">
	<tr>
		<th>科目</th>
		<th>教授名</th>
		<th>単位数</th>
		<th>曜日</th>
		<th>時限</th>
		<th>登録</th>
	</tr>
 <% @subjects.each do |p| %>
	<tr>
		<td><%= p.kamoku %></td>
		<td><%= p.professor %></td>
		<td><%= p.unit %></td>
		<td><%= p.youbi %></td>
		<td><%= p.zigen %></td>
		<%= form_tag items_path(subject_id: p.id) do %>
		<td><%= submit_tag "受講する" %></td>
	</tr>
    <% end %>
<% end %>	
</table>