/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.login_button {
  font-size: 30px;
  display: block;
  width: 300px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #EC407A;
  /* ボタンの文字の色 */
  border: 2px solid #EC407A;
  /* ボタンの囲みの色 */
  border-radius: 3px;
  transition: .4s;
}

.login_button:hover {
  background: #EC407A;
  /*マウスが囲いに入った色*/
  color: #fff;
  /*マウスが囲いに入ったときの文字の色*/
  text-decoration: none;
  text-align: center;
}

.place {
  height: 28px;
  margin: 0px auto;
  text-align: center;
}

.mx-auto {
  width: 200px;
  margin-left: 40%;
  margin-right: auto;
}

header {
  height: 50px;
  /* 高さ */
  width: 100%;
  /* 長さ */
  background-color: orange;
  position: fixed;
  /* ヘッダーを固定(これが重要) */
  top: 0;
  /* 固定する位置 */
  left: 0;
  /* 固定する位置 */
  right: 0;
  /* 固定する位置 */
}

table {
  margin-left: auto;
  margin-right: auto;

}

.ss {
  margin-left: auto;
  margin-right: auto;
  background-color: white;

}

.link {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

p {
  color: #ffa500;
}

link {
  color: black;
}
